@import '../../styles/themes';
@import '../../styles/variables';
@import '../../styles/mixins';

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1em;
  list-style: none;
  padding-left: 0;

  &__credits {
    padding-top: 4em;

    p {
      font-size: $font-size--medium;

      a {
        @include theme() {
          color: get('link-green');
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.container {
  max-width: 300px;
  display: flex !important;
  align-items: center;

  > span {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.video {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 375px;

  video {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.container,
.video {
  position: relative;

  @include respond(tablet) {
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .2;
      background-color: $color-bg-dark;
      transition: all .4s ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

.item {
  display: flex;
  align-items: center;
}
