@import '../../styles/themes';

.switch {
  margin-top: 1.5em;
}

.button {
  display: flex;
  width: auto;
  height: 2.3em;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 50%;

  svg {
    width: 100%;
    height: 100%;
    transition: all .4s ease-in-out;

    @include theme() {
      filter: get('filter-yellow');
    }

    &:hover {
      @include theme() {
        filter: get('filter-yellow-shadow');
      }
    }
  }
}
