@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/themes';


.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;

  @include respond(mobile) {
    align-items: center;
  }

  p {
    font-size: $font-size--x-small;
    line-height: $line-height--large;
  }

  a {
    text-decoration: none;

    @include theme() {
      color: get('link-blue');
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .github,
  .phone,
  .mail {
    svg {
      transition: all .4s ease-in-out;

      @include theme() {
        filter: get('filter-color');
      }

      &:hover {
        @include theme() {
          filter: get('filter-hover-color');
        }
      }
    }
  }



 .mail,
 .phone {
  svg:last-child {
    display: none;
  }

  &:hover {
    svg:first-child {
      display: none;
    }

    svg:last-child {
      display: block;
    }
  }
 }

  &__icons {
    display: flex;
    gap: 1.5em;

    a {
      width: 1.5em;
      height: auto;
    }

    svg {
      width: 100%;
      height: 100%;
      transition: filter .4s ease-in-out;

      @include theme() {
        filter: get('filter-color');
      }

      &:hover {
        filter: none;
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1em;

  @include respond(mobile) {
    flex-direction: row;
    align-items: center;
  }
}

.text {

  p {
    margin-bottom: 0;
    @include respond(mobile) {
      margin-bottom: 1.5vmin;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
