@import '../../styles/variables';

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 5vmin;
  margin-top: 1.5em;
  padding-left: 0;

  a {
    font-size: $font-size--medium;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-color: #5f9ea0;
    }
  }
}
